.leaflet-container {
  height: 100%;
  width: 100%;
  z-index: 1; /* Para que no tape los menús */
}
.leaflet-popup-content-wrapper {
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
  font-family: inherit;
}